<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="rase_19_logo.jpg">
  <link rel="icon" type="image/png" href="rase_19_logo.jpg">
  <title>
    Maze Runner
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="landing-page">
 <!-- Navbar -->
 <nav style="max-height: 105px;" class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          <span><img style="height: 78%;width:40%;" src="/assets/img/amrita logo.png">
          </span> 
          <span><img style="height: 70%;width:25%;margin-left: 10%;" src="/assets/img/new ras1.png">
          </span>
          <span><img style="height: 78%;width:25%;" src="/assets/img/acrom logo.png">
          </span>
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a>
               RASE 19
              </a>
            </div>
            
          
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>

       

        <ul class="navbar-nav">
          
          <li class="nav-item p-0">
            <a class="nav-link btn btn-default d-lg-block" href="../index.html">
              <i class="tim-icons icon-atom d-lg-none d-xl-none"></i>HOME
            </a>
          </li>

          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/groups/acrom/" target="_blank">
              <i class="fab fa-facebook-square"></i>
              <p class="d-lg-none d-xl-none">Facebook</p>
            </a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/ieee_ras_acrom/?hl=en" target="_blank">
              <i class="fab fa-instagram"></i>
              <p class="d-lg-none d-xl-none">Instagram</p>
            </a>
          </li>
          
         

          <!-- <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-cogs d-lg-none d-xl-none"></i> Explore
            </a>
            <div class="dropdown-menu dropdown-with-icons">
                <a href="/" class="dropdown-item">
                    <i class="tim-icons icon-bank"></i>Home
                  </a>
              <a href="/#about" class="dropdown-item">
                <i class="tim-icons icon-paper"></i> About RASE 19'
              </a>
              <a href="/#events" class="dropdown-item">
                <i class="tim-icons icon-bullet-list-67"></i>Events
              </a>
              <a href="/#workshop" class="dropdown-item">
                  <i class="tim-icons icon-laptop"></i>Workshop
              </a>
              <a href="/#register" class="dropdown-item">
                <i class="tim-icons icon-components"></i>REGISTER NOW
            </a>
            <a href="/#form" class="dropdown-item">
              <i class="tim-icons icon-user-run"></i>Be a CAMPUS AMBASSADOR
          </a>
              <a href="#contact" class="dropdown-item">
                <i class="tim-icons icon-single-02"></i>Contact Us
              </a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="tim-icons icon-atom"></i>Register Now
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- End Navbar --> 
  <div class="wrapper">
    <div class="page-header">
      <img src="../assets/img/blob.png" class="path">
      <img src="../assets/img/path2.png" class="path2">
      <img src="../assets/img/triunghiuri.png" class="shapes triangle">
      <img src="../assets/img/waves.png" class="shapes wave">
      <img src="../assets/img/patrat.png" class="shapes squares">
      <img src="../assets/img/cercuri.png" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 style="word-wrap: break-word;max-width: 80%;" class="text-white">Problem Statement
                 
            </h1>
            <p style="font-size: 20px;word-wrap: break-word;max-width: 90%;" class="text-white mb-6">A robot is placed in the far corner of a maze consisting of approx 30cm square segments. 
                Junctions are akin to standard mazes – dead ends, T-intersections, right and left hand turns, etc. 
                In the dead center of the maze, is an open area, 2 segments wide and 2 segments long. 
                This central area is positioned in such a way that left-turn only or right-turn only robots can never reach it. 
                The goal is to reach the center of the maze in the fastest time possible, across several attempts.</p>
            
          </div>
          <div class="col-lg-41 col-md-51">
            <img src="../assets/img/maze1.png" alt="Circle image" class="img-fluid">
          </div>
        </div>

      </div>
    </div>
    <section class="section section-lg">
      <section class="section">
          <div class="content-center">
                <img src="../assets/img/path4.png" class="path">
                <div class="container">
                     <h2 class="mb-2" style="margin-top:35px;font-size: 35px;"><strong>Event Description: Maze Runner</strong></h2>
                </div>
                <br>

                <div class="container">
                    <h3>
                        Bot Specification:
                    </h3>
                    
                    <ul>
                        <li>At any point of time and any configuration of the bot, it should fit inside a box with dimensions of 20cm*20cm*20cm (l*b*h) </li>
                        <li>Power supply should be on-board and maximum  voltage between any two points on the circuit at any given time should not exceed 12V DC, 1.5A </li>
                        <li>Bot should be fully autonomous</li>
                        <li>Maximum of 4 sensors can be used on the robot</li><br>
                    </ul>

                    <h3>
                        Arena Specifications:
                    </h3>
                    <ul>
                        <li>The maze is composed of multiples of a 30 cm x 30 cm unit square. The walls of the maze are 25 cm high and 3 cm thick (assume 10% tolerance for mazes). Thus, the internal navigable area within a square is 27cm, not 30cm. The maze comprises up to 8x 8 unit squares, The outside wall encloses the entire maze</li>
                        <li>The sides of the maze walls are white,  and the floor is black. The maze is made of wood, finished with non-gloss paint</li>
                        <li>WARNING: Do not assume the walls are consistently white, or that the floor is consistently black. Fading may occur; parts from different mazes may be used. Do not assume the floor provides a given amount of friction. It is simply painted plywood and may be quite slick. There may be a seam between the two sheets on which any low-hanging parts of a robot may snag.</li>
                        <li>The start of the maze is located at one of the four corners. The start square is bounded on three sides by walls. The start line is located between the first and its second squares. That is, as the robot exits the corner square, the time starts. The destination goal is the four cells at the center of the maze. The destination square has only one entrance.</li>
                        <li>Multiple paths to the destination square are allowed and are to be expected. The destination square will be positioned so that a wall-hugging robot will NOT be able to find it.</li><br>
                    </ul>
                    <h3>
                        Rules:
                    </h3>
                    <ul>
                        <li>Participants should posses a valid identity card from their respective Institutions</li>
                        <li>The bot is not allocated any time to access the maze prior to their first run.</li>
                        <li>Contestants have 10 minutes in total to complete as many runs as they wish.</li>
                        <li>Any time used to adjust a robot between runs is included in the 10 minutes.</li>
                        <li>Each run (from the start cell to the center zone) in which a robot successfully reaches the destination square is given a run time.</li>
                        <li>The minimum run time shall be the robot’s official time.</li>
                        <li>First prize goes to the robot with the shortest official time. Second prize to the next shortest, and so on.</li>
                        <li>NOTE, again, that the 10-minute timer continues even between runs. Robots that do not enter the center square will be ranked by the maximum number of cells they consecutively transverse without being touched. All robots who enter the center square within their 10 minute allotment are ranked higher than those who do not enter the center square. If a robot is in mid-run when the ten minute total time elapses, that attempt is finished and does not count. If no robots (or less than 3) finish their runs in under ten minutes, ranking will be determined by the sole discretion of the judges. Robots that do not enter the center square will be ranked by the maximum number of cells they consecutively transverse without being touched. However, judges are not required to give any rankings to robots who do not finish, and may declare no winners or declare less than 3 winners at their discretion.</li>
                        <li>Two timers are used for each contestant. One for the ten-minute total time, and a separate timer for each run within the total time.</li>
                        <li>The initial run shall be made from a random one of the four possible starting squares. Following runs within the 10 minutes allowed shall all be from the same starting square as the first run.</li>
                        <li>The operator may abort a run at any time. If an operator touches the bot during a run, it is deemed aborted, and the robot must be removed from the maze.</li>
                        <li>If a robot has already crossed the finish line, it may be removed at any time without affecting the run time of that run. If a robot is placed back in the maze for another run, a one-time penalty of 30 seconds will be added to the robot’s best time.</li>
                        <li>After the maze is disclosed, the operator shall not feed information on the maze into the The bot however, switch positions may be changed for the purpose of changing programs within the robot (changing algorithms is allowed. Entering info on the maze is not allowed and does not constitute “changing algorithms".).</li>
                        <li>BEWARE: Do not make any assumptions about the amount of sunlight, incandescent light, or fluorescent light that may be present at the contest site.</li>
                        <li>The run timer will start when front edge of the robot crosses the start line and stops when the front edge of the robot crosses the finish line. The start line is at the boundary between the starting unit square and the next unit square clockwise. The finish line is at the entrance to the destination square.</li>
                        <li>Every time the robot leaves the start square, a new run begins. If the robot has not entered the destination square, the previous run is aborted. For example, if a robot re-enters the start square (before entering the destination square) on a run, that run is aborted, and a new run will be deemed begun, with a new time that starts when the starting square is exited.</li>
                        <li>The robot may, after reaching the destination square, continue to navigate the maze, for as long as their total maze time allows.</li>
                        <li>If a robot continues to navigate the maze after reaching the destination square, the time taken will not count toward any run. Of course, the 10-minute timer continues to run. When the robot next leaves the start square, a new run will start. Thus, a robot may and should make several runs without being touched by the operator. It should make its own way back to the beginning to do so.</li>
                        <li>The judges reserve the right to ask the operator for an explanation of the The bot. The judges also reserve the right to stop a run, declare disqualification, or give instructions as appropriate (e.g., if the structure of the maze is jeopardized by continuing operation of the robot).</li>
                        <li>A contestant may not feed information on the maze to the The bot.</li>
                        <li>However, contestants are allowed to:</li>
                        <li>Change switch settings (e.g. to change algorithms (for example from left-turning to right turning – again, entering data on maze size or content is NOT inclusive of this rule.)</li>
                        <li>Replace batteries between runs</li>
                        <li>Adjust sensors</li>
                        <li>Change speed settings</li>
                        <li>Make repairs</li>
                        <li>However, a contestant may not alter a robot in a manner that alters its weight (e.g. removal of a bulky sensor array or switching to lighter batteries to get better speed after mapping the maze is not allowed). The judges shall arbitrate.</li>
                        <li>All robots, whether or not they have competed in previous contests, compete on an equal basis. All robots must be presented to the judges by the original design team, which must meet all other qualifications. First prize will go to that robot which travels from the start square to the destination square in the least amount of time. Second and third prizes will be awarded to the second and third fastest respectively.</li>
                        <li>The track dimensions are subjective to change.There will be a tolerance of 10% given to the bot dimensions.</li>
                        <li>If there are less than 5 teams registered , event will be cancelled.</li>
                        <li>The decision of the Judges will be final.Any dispute will lead to direct disqualification.</li>
                        <li>If there are less than 5 teams registered , event will be cancelled.</li>
                        <br>

                    </ul>

                </div>

          </div>
       
      </section>
    </section>
   
  </section>


  <div class="section section-download" id="#download-section" data-background-color="black">
    <img src="assets/img/path1.png" class="path">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="text-center col-md-12 col-lg-8">
          <h2 class="title">Are you excited for RASE 19 too?</h2>
          <h4 class="description">Make Every Robot Count. Register Soon.Limited Seats only.</h4>
        </div>
        <div class="text-center col-md-12 col-lg-8">
          <a href="register.html" class="btn btn-primary btn-round btn-lg" role="button">
            Register
          </a>
          <!-- <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
        Download PSD/Sketch
      </a> -->
        </div>
      </div>
      <br>
      <br>
      <br>
      <!-- <div class="row text-center mt-5">
    <div class="col-md-8 ml-auto mr-auto">
      <h2>Want more?</h2>
      <h5 class="description">We've just launched <a href="http://demos.creative-tim.com/black-kit-pro/presentation.html" target="_blank">BLK• Design System PRO</a>. It has a huge number of components, sections and example pages. Start Your Development With A Badass Bootstrap 4 Design System.</h4>
    </div>
    <div class="col-md-12">
      <a href="http://demos.creative-tim.com/black-kit-pro/presentation.html" class="btn btn-neutral btn-round btn-lg" target="_blank">
        <i class="tim-icons icon-cloud-upload-94"></i> Upgrade to PRO
      </a>
    </div>
  </div> -->
      <br>
      <br>
      <div class="row row-grid align-items-center my-md">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Keep in Touch with our Team.</h4>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a id="twitter" class="btn btn-icon btn-instagram btn-round btn-lg" data-toggle="tooltip" data-original-title="Love!">
            <i class="fab fa-instagram"></i>
          </a>
          <a id="facebook" class="btn btn-icon btn-facebook btn-round btn-lg" data-toggle="tooltip" data-original-title="Share!">
            <i class="fab fa-facebook-square"></i>
          </a>
         
        </div>
      </div>
    </div>
    <section id="contact">
        <div style="word-wrap: break-word;" class="container">
          <div class="row">
            <div class="text-center col-md-12 col-lg-12">
            <br><br><br><br><br><br>
            <h2 style="color:#1d8cf8;font-size: 40px;">
                <strong>Contact Us:</strong> 
            </h2>
        
            <h3>
              <!-- <i>Email:</i><br>
              <i>• admin@admin.com •</i>
              <br><br> -->
              <i style="font-size: 25px;"><strong>Phone :</strong></i><br>
              <i>• Dharahas - 8500678224 •</i><br>
              <i>• Ivan - 9483143537 •</i><br>
              <i>• Dharanidhar - 7204731074 •</i><br>
              <i>• Vasuda - 9487784117 •</i><br>
              <i>• Pavan - 8762690549 •</i><br>
              <i>• Reetika - 8019424737 •</i><br>
  
            </h3>
          </div>
          <div class="container iframe-container text-center">
              <h2 style="color:#1d8cf8;font-size: 40px;">
                  <strong>Where To Find Us:</strong> 
                </h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.205397501904!2d77.67289511460268!3d12.894510220054528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13479f912c41%3A0x5919577ad754c73e!2sAmrita+School+of+Engineering!5e0!3m2!1sen!2sin!4v1544936217259" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
             
          </div>
          </div>
          </div>
      </section>

  <footer class="footer">
      <div style="text-align:center;">
        Website Designed by <a target="_blank" href="https://adityaudapudi.firebaseapp.com"><b style="color:pink;">Aditya Udapudi</b></a>
      </div>
    </footer>
    
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/blk-design-system.min.js?v=1.0.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initLandingPageChart();
    });
    
    function scrollToDownload() {

if ($('.section-download').length != 0) {
  $("html, body").animate({
    scrollTop: $('.section-download').offset().top
  }, 1000);
}
}
  </script>
</body>

</html>