<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="rase_19_logo.jpg">
  <link rel="icon" type="image/png" href="rase_19_logo.jpg">
  <title>
   Robo Soccer
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="landing-page">
  
  <!-- Navbar -->
  <nav style="max-height: 105px;" class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="#">
            <span><img style="height: 78%;width:40%;" src="/assets/img/amrita logo.png">
            </span> 
            <span><img style="height: 70%;width:25%;margin-left: 10%;" src="/assets/img/new ras1.png">
            </span>
            <span><img style="height: 78%;width:25%;" src="/assets/img/acrom logo.png">
            </span>
          </a>
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a>
                 RASE 19
                </a>
              </div>
              
            
              <div class="col-6 collapse-close text-right">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
  
         
  
          <ul class="navbar-nav">
            <li class="nav-item p-0">
              <a class="nav-link btn btn-default d-lg-block" href="../index.html">
                <i class="tim-icons icon-atom d-lg-none d-xl-none"></i>HOME
              </a>
            </li>
            <li class="nav-item p-0">
              <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/groups/acrom/" target="_blank">
                <i class="fab fa-facebook-square"></i>
                <p class="d-lg-none d-xl-none">Facebook</p>
              </a>
            </li>
            <li class="nav-item p-0">
              <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/ieee_ras_acrom/?hl=en" target="_blank">
                <i class="fab fa-instagram"></i>
                <p class="d-lg-none d-xl-none">Instagram</p>
              </a>
            </li>
            <!-- <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="fa fa-cogs d-lg-none d-xl-none"></i> Explore
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                  <a href="/" class="dropdown-item">
                      <i class="tim-icons icon-bank"></i>Home
                    </a>
                <a href="/#about" class="dropdown-item">
                  <i class="tim-icons icon-paper"></i> About RASE 19'
                </a>
                <a href="/#events" class="dropdown-item">
                  <i class="tim-icons icon-bullet-list-67"></i>Events
                </a>
                <a href="/#workshop" class="dropdown-item">
                    <i class="tim-icons icon-laptop"></i>Workshop
                </a>
                <a href="/#register" class="dropdown-item">
                  <i class="tim-icons icon-components"></i>REGISTER NOW
              </a>
              <a href="/#form" class="dropdown-item">
                <i class="tim-icons icon-user-run"></i>Be a CAMPUS AMBASSADOR
            </a>
                <a href="#contact" class="dropdown-item">
                  <i class="tim-icons icon-single-02"></i>Contact Us
                </a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link btn btn-default d-none d-lg-block" href="javascript:void(0)" onclick="scrollToDownload()">
                <i class="tim-icons icon-atom"></i>Register Now
              </a>
            </li>
          </ol>
        </div>
      </div>
    </nav>
  <!-- End Navbar --> 
  <div class="wrapper">
    <div class="page-header">
      <img src="../assets/img/blob.png" class="path">
      <img src="../assets/img/path2.png" class="path2">
      <img src="../assets/img/triunghiuri.png" class="shapes triangle">
      <img src="../assets/img/waves.png" class="shapes wave">
      <img src="../assets/img/patrat.png" class="shapes squares">
      <img src="../assets/img/cercuri.png" class="shapes circle">
      <div class="content-center">
        <div class="row row-grid justify-content-between align-items-center text-left">
          <div class="col-lg-6 col-md-6">
            <h1 style="word-wrap: break-word;max-width: 90%;" class="text-white">Problem Statement
                 
            </h1>
            <p style="font-size: 20px;word-wrap: break-word;max-width: 90%;" class="text-white mb-6">In Robosoccer challenge, maximum three manually
                 controlled robots will compete against each other in an arena which resembles an actual soccer field.
                <br>
                The robot should be wirelessly controlled. The teams should have two frequency channel/ Bluetooth to avoid signal interference with other teams. The robot should have been fabricated, assembled by the team. Readymade robots are not allowed.</p>
            
          </div>
          <div class="col-lg-41 col-md-51">
            <img src="../assets/img/robo-soccer1.jpg" alt="Circle image" class="img-fluid">
          </div>
        </div>

      </div>
    </div>
    <section class="section section-lg">
      <section class="section">
          <div class="content-center">
                <img src="../assets/img/path4.png" class="path">
                <div class="container">
                     <h2 class="mb-2" style="margin-top:35px;font-size: 35px;"><strong>Event Description: Robo Soccer</strong></h2>
                </div>
                <br>

                <div class="container">

                    <h3>
                        Bot Specification:
                    </h3>
                    <ol>
                        <li>Robots will be measured in an upright position with all parts extended. A robot’s specifications must not exceed the following limits:</li> 
                        <li>At any point of time and any configuration of the bot, it should fit inside a box with horizontal cross section of 30cm*30cm*30cm (l*b*h).</li>
                        <li>Weight must not exceed 3kilos.(There will a tolerance of 0.5kg allowed).</li>
                        <li>Power supply should be on-board and maximum  voltage between any two points on the circuit at any given time should not exceed 12V DC, 1.5A.</li>
                            <br>
                    </ol>
                    <h3>
                        Rules<br>
                    </h3>
                    <ol>
                    <li>
                        Team:<br>

                        A student team, can have a maximum of 4 members. Participants should possess a valid identity card from their respective institution
                    </li>
                    <li>The Field:<br>
                            2.1 Playground Surface and Dimension<br>

                            The field is on a marble floor with dimensions 680cm x 340cm. The playground is considered flat if a ball placed anywhere on the field does not start to roll.
                            
                            <br>2.2 Markings on the Playground<br>
                            
                            The center circle/square will have a radius 50cm to 60cm. The arc will be 25 cm along the goal line and 5 cm perpendicular to it. Neutral points will be marked on the field to facilitate resetting the positions of the robots in case there is a stalemate (lack of progress).
                            
                            **The dimensions of the track is subjective to change.
                            
                            <br>2.3 The Goal<br>
                            
                            The goal is ~90 cm wide and ~45cm height.
                            
                            <br>2.4 The Goal Line and Goal Area<br>
                            
                            The goal line is the line just in front of the goal. The goal areas are comprised of the area contained by the rectangle 90 cm x 50 cm.
                            
                            <br>2.5 The Ball<br>
                            
                            A ball of ~15 cm diameter is used. <br>
                    </li>
                    <br>
                    <li>Gameplay:

                        <br> The game will consist of two halves. The duration of each half is 5-minutes. There will be a 1-minute break in between the halves. The game clock will run for the duration of the halves without stopping.
                            
                        <br>  At the start of the first half of the game, a referee will toss a coin. The team mentioned first in the draw shall call the coin. The winner of the toss can choose either which end to kick to, or to kick off first. The loser of the toss will settle for the other option. After the first half, teams will switch sides. The team which does not kick off in the first half of the game will kick off to begin the second half of the game.
                            
                        <br>   Suppose Team A pushes the ball and moves towards the goal post of Team B to score and crosses the line indicating half of the field, Team A cannot push the ball back into their half of the field</li>
                        <br>
                    </li>
                    <li>
                      Ball movement:<br>

                        A robot cannot hold a ball. Holding a ball means taking full control of the ball by removing all of its degrees of freedom. If a ball stops rolling while a robot is moving or a ball does not rebound when rolled into a robot, it is a good indication that the ball is trapped.
                    </li>
                    <li>
                      Scoring<br>

                        A goal is scored when the ball crosses the goal line. Goals scored either by an attacking or defending robot have the same end result: they give one goal to the team on the opposite side. After a goal, game will be restarted with a kick-off from the team who received the goal against. 
                    <br> </li>
                    <li>
                     Stalemate<br>

                            If the stalemate situation doesn’t improve even after 40 seconds then the positions of the robots will be moved to the neutral points (see section 2.2)
                            <br></li>
                    <li>
                        Damaged robots<br>

                        If a robot is damaged, it has to be taken off the field and must be fixed before it can play again.<br>
                    </li>
                    <li>
                        Interruption of the game<br>

                        A referee can stop the game if there is a situation on or around the field which the referee wants to discuss with an official of the tournament or if the ball malfunctions and a replacement is not readily available.
                        <br>
                      </li>
                      <li>
                          Rule modification<br>

                          If special circumstances, such as unforeseen problems or capabilities of a robot occur, rules may be modified by the referee.
                          <br></li>

                      <li>
                          Conflict Resolution

                         <br> All decisions during the game are made by the referee or the referee assistant who are in charge of a field. During gameplay, the decisions made by the referee and/or the referee assistant are final. Any argument with the referee or the referee assistant can result in a warning. If the argument continues or another argument occurs, this may result in immediate disqualification from the game.
                         <br> </li>

                        <li>
                             Violations / Disqualification

                           <br> Teams that violate the code of conduct can be disqualified from the tournament. It is also possible to disqualify only single person or single robot from further participation in the tournament.
                          </li>
                          <li>12.If there are less than 5 teams registered , event will be cancelled.</li>

                    </ol>
                    <h3 class="title">
                        Event Coordinators:
                      </h3>
                      <ul>
                        <li>
                          Reetika: +918019424737
                        </li>
                        <li>
                          Sriram: +918247521100
                        </li>
                      </ul>

                </div>

          </div>
       
      </section>
    </section>
   
  </section>


  <div class="section section-download" id="#download-section" data-background-color="black">
    <img src="assets/img/path1.png" class="path">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="text-center col-md-12 col-lg-8">
          <h2 class="title">Are you excited for RASE 19 too?</h2>
          <h4 class="description">Make Every Robot Count. Register Soon.Limited Seats only.</h4>
        </div>
        <div class="text-center col-md-12 col-lg-8">
          <a href="register.html" class="btn btn-primary btn-round btn-lg" role="button">
            Register
          </a>
          <!-- <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
        Download PSD/Sketch
      </a> -->
        </div>
      </div>
      <br>
      <br>
      <br>
      <!-- <div class="row text-center mt-5">
    <div class="col-md-8 ml-auto mr-auto">
      <h2>Want more?</h2>
      <h5 class="description">We've just launched <a href="http://demos.creative-tim.com/black-kit-pro/presentation.html" target="_blank">BLK• Design System PRO</a>. It has a huge number of components, sections and example pages. Start Your Development With A Badass Bootstrap 4 Design System.</h4>
    </div>
    <div class="col-md-12">
      <a href="http://demos.creative-tim.com/black-kit-pro/presentation.html" class="btn btn-neutral btn-round btn-lg" target="_blank">
        <i class="tim-icons icon-cloud-upload-94"></i> Upgrade to PRO
      </a>
    </div>
  </div> -->
      <br>
      <br>
      <div class="row row-grid align-items-center my-md">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Keep in Touch with our Team.</h4>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a id="twitter" class="btn btn-icon btn-instagram btn-round btn-lg" data-toggle="tooltip" data-original-title="Tweet!">
            <i class="fab fa-instagram"></i>
          </a>
          <a id="facebook" class="btn btn-icon btn-facebook btn-round btn-lg" data-toggle="tooltip" data-original-title="Share!">
            <i class="fab fa-facebook-square"></i>
          </a>
         
        </div>
      </div>
    </div>
    <section id="contact">
        <div style="word-wrap: break-word;" class="container">
          <div class="row">
            <div class="text-center col-md-12 col-lg-12">
            <br><br><br><br><br><br>
            <h2 style="color:#1d8cf8;font-size: 40px;">
                <strong>Contact Us:</strong> 
            </h2>
        
            <h3>
              <!-- <i>Email:</i><br>
              <i>• admin@admin.com •</i>
              <br><br> -->
              <i style="font-size: 25px;"><strong>Phone :</strong></i><br>
              <i>• Dharahas - 8500678224 •</i><br>
              <i>• Ivan - 9483143537 •</i><br>
              <i>• Dharanidhar - 7204731074 •</i><br>
              <i>• Vasuda - 9487784117 •</i><br>
              <i>• Pavan - 8762690549 •</i><br>
              <i>• Reetika - 8019424737 •</i><br>
  
            </h3>
          </div>
          <div class="container iframe-container text-center">
              <h2 style="color:#1d8cf8;font-size: 40px;">
                  <strong>Where To Find Us:</strong> 
                </h2>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.205397501904!2d77.67289511460268!3d12.894510220054528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13479f912c41%3A0x5919577ad754c73e!2sAmrita+School+of+Engineering!5e0!3m2!1sen!2sin!4v1544936217259" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
             
          </div>
          </div>
          </div>
      </section>
  <footer class="footer">
      <div style="text-align:center;">
        Website Designed by <a target="_blank" href="https://adityaudapudi.firebaseapp.com"><b style="color:pink;">Aditya Udapudi</b></a>
      </div>
    </footer>
    
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="../assets/js/plugins/bootstrap-switch.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/blk-design-system.min.js?v=1.0.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initLandingPageChart();
    });
    
    function scrollToDownload() {

if ($('.section-download').length != 0) {
  $("html, body").animate({
    scrollTop: $('.section-download').offset().top
  }, 1000);
}
}
  </script>
</body>

</html>